@page
@model ASP_NET_Razor_WorkEF_SignalR.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Product List";
}

<h1>List Product</h1>

<a asp-page="./Create">Add a new Product</a>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Unit In Stock</th>
            <th>Category</th>
            <th>Discountinued</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
            <tr>
                <td>@p.ProductId</td>
                <td>@p.ProductName</td>
                <td>@p.UnitPrice</td>
                <td>@p.UnitsInStock</td>
                <td>@p.Category?.CategoryName</td>
                <td>
                    @if (p.Discontinued == true)
                    {
                        <span style="color: red">Out of Stock</span>
                    }
                    else
                    {
                        <span style="color: blue">In Stock</span>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@p.ProductId">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@p.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>